.main-footer {
    color: black;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;

    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}