body {
    margin: 0;
    height: 100vh;
}

.img-card,
.img-details {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.img-details {
    width: 100%;
    height: auto;
}

.carousel-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    /* object-position: 0 0 */
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}