i::before {
    color: #630655;
}

i {
    position: relative;
    top: 8px;
    left: 20px
}


/* .cartprodcard:hover {
    transform: translateY(-12px);
    cursor: pointer;
} */

.cartprodcard {
    transition: transform 0.6s;
}

.cartcardbtn {
    background-image: linear-gradient(135deg, #ce0000df 10%, #750000 100%);

    color: #ffffff;
    padding: 8px 30px;
    border-radius: 30px;
    font-weight: bold;
}

.cartcardbtn:hover {
    background-image: linear-gradient(135deg, #e30808 10%, #ff1818 100%);
    color: #ffffff;

}

.cartcardbtn:disabled {
    background-image: linear-gradient(135deg, #545757 10%, #3a3a41 100%);
}

#cart-img-card {
    width: 250px;
    height: 240px;
}